<f:layout name="Default" />

<f:section name="Title">A list of datenschutzs</f:section>

<f:section name="Content">
    <div class="textcontainer">
        <div class="textblock" style="overflow-x:auto;">
            <h2>Datenschutz</h2> <p>Die Betreiber dieser Seiten nehmen
            den Schutz Ihrer pers&ouml;nlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten
            vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser
            Datenschutzerkl&auml;rung.</p> <p>Die Nutzung unserer Website ist in der Regel ohne Angabe
            personenbezogener Daten m&ouml;glich. Soweit auf unseren Seiten personenbezogene Daten
            (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt dies, soweit
            m&ouml;glich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdr&uuml;ckliche Zustimmung
            nicht an Dritte weitergegeben.</p> <p>Wir weisen darauf hin, dass die Daten&uuml;bertragung im Internet
            (z.B. bei der Kommunikation per E-Mail) Sicherheitsl&uuml;cken aufweisen kann. Ein l&uuml;ckenloser
            Schutz der Daten vor dem Zugriff durch Dritte ist nicht m&ouml;glich.</p><p>&nbsp;</p> <h2>Recht auf Auskunft,
            L&ouml;schung, Sperrung</h2> <p>Sie haben jederzeit das Recht auf unentgeltliche Auskunft &uuml;ber
            Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empf&auml;nger und den Zweck der
            Datenverarbeitung sowie ein Recht auf Berichtigung, Sperrung oder L&ouml;schung dieser Daten. Hierzu
            sowie zu weiteren Fragen zum Thema personenbezogene Daten k&ouml;nnen Sie sich jederzeit unter der
            im Impressum angegebenen Adresse an uns wenden.</p><p>&nbsp;</p> <h2>Widerspruch WerbeMails</h2>
            <p>Der Nutzung von im Rahmen der Impressumspflicht ver&ouml;ffentlichten Kontaktdaten
            zur &Uuml;bersendung von nicht ausdr&uuml;cklich angeforderter Werbung und Informationsmaterialien
            wird hiermit widersprochen. Die Betreiber der Seiten behalten sich ausdr&uuml;cklich rechtliche Schritte
            im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-E-Mails,
            vor.</p><p>&nbsp;</p> <p>Quelle: <a href="https://www.e-recht24.de">eRecht24</a></p>
        </div>
    </div>
</f:section>
